.footer-message{
    background-color: black;
    color: white;
    margin: 0;
    padding-top: 2rem;
    padding-left: 8rem;
    padding-right: 8rem;
    padding-bottom: 1rem;
    font-family:"Garamond", Cochin, Georgia, Times, 'Times New Roman', serif;/*font family for the labels*/
    font-size: large;

    display: flex;
    justify-content: space-between; /* Ensures items are aligned left and right */
    align-items: flex-start; /* Aligns items at the top */
    
}
.message{
    max-width: 30%;
    padding: 1rem;
}
.logo-m{
    height: 13vh; /*size of the logo image*/
    padding: 0;
    margin: 0;

  }
  .logo_label{
    display: inline-block;
    vertical-align: middle;

  }
  .logo_label, .logo-m{
    display: inline-block;
    vertical-align: middle;
  }
  .copyright{
    color: rgb(97, 97, 97);
    padding-left: 1rem;
    margin-top: 1rem;
    width: 100%;
  }
  .contact{
    width: 30%; /* Adjust width as needed */
    padding: 1rem;
    text-align: left;
    font-size: large;
  }
  .contact h5{
    color: brown;
    font-size: larger;
  }
