
.service_cards{

    background-color: rgb(255, 255, 255);
    font-family: "Garamond";
}
.service_cards h3{
    font-size: 1.8em;
    color: hsl(0, 0%, 19%);
}
.icons{
    max-height: 9vh;
}

.service_card_main_title{
    padding-top: 5vh;
    padding-left: 5vw;
    font-size: 3em;
    font-weight: bolder;
}
.service_card_main_title_descrip{
    font-size: 0.5em;
    padding-left: 25vw;
    display: inline-block;
    max-width: 35vw;
}
.service_cards .service_card1{
    border: 1px solid hsl(0, 0%, 80%);
    border-radius: 5px;
    background-color: hsl(0, 0%, 99%);
    box-shadow: 5px 5px 5px rgb(51, 51, 51);
    padding: 5%;
    margin: 2%;
    margin-left: 5%;
    text-align: center;
    font-size: x-large;
    height: 35vh;
    max-width: 15vw;
    display: inline-block;

}
.service_cards .service_card1:hover{
    background-image: url("https://theserfs.neocities.org/Placeholder.png");
    background-size: cover;
}
.service_cards .service_card2:hover{
    background-image: url("https://theserfs.neocities.org/Placeholder.png");
    background-size: cover;
}
.service_cards .service_card3:hover{
    background-image: url("https://theserfs.neocities.org/Placeholder.png");
    background-size: cover;
}
.service_cards .service_card2{
    border: 1px solid hsl(0, 0%, 80%);
    border-radius: 5px;
    box-shadow: 5px 5px 5px rgb(51, 51, 51);
    background-color: hsl(0, 0%, 99%);
    padding: 5%;
    margin: 2%;
    margin-left: 5%;
    text-align: center;
    font-size: x-large;
    height: 35vh;
    max-width: 15vw;
    display: inline-block;
}
.service_cards .service_card3{
    border: 1px solid hsl(0, 0%, 80%);
    border-radius: 5px;
    box-shadow: 5px 5px 5px rgb(51, 51, 51);
    background-color: hsl(0, 0%, 99%);
    padding: 5%;
    margin: 2%;
    margin-left: 5%;
    text-align: center;
    font-size: x-large;
    height: 35vh;
    max-width: 15vw;
    display: inline-block;
}
.service_cards .service_card1,
.service_cards .service_card2,
.service_cards .service_card3,
.service_card_main_title_descrip,
.service_card_main_title{
    vertical-align: top;
}